

:root {
    --cor-fundo: radial-gradient(#874421, #7c3b1a, #b87733);
}
body {
    color: black;
    /* serve para dar cor no fundo/body */
    background: var(--cor-fundo);
    
    
}
.navbar{
    /* display flex serve para deixar flexivel tudo que esta dentro do conteiner */
    display: flex; 
    /* serve para jogar o texto para o final */
     justify-content: flex-end;

     /* serve para mexer no tamanho da fonte das letras */
     font-size: 1.5rem;
      /* serve para colocar espaçamento do conteiner todo(para descolar da borda) */
    padding-right: 3rem;
    /* serve para colocar espaçamento do conteiner todo(para descolar do topo) */
    padding-top: 3rem;
   }

.navbar a {
    /* serve para colocar espaçamento entre as palavras das linhas */
    padding-right: 3rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.banner-header {
    width: 100%;  /*largura*/
    height: 300px ; /* altura*/
    object-fit: cover; /* ajustar a imagen para nao estourar*/
    padding-top: 3rem;
}
.page-title {
    font-size: 25pt;
    padding-top: 3rem;
    margin: 40px;
}
.page-subtitle {
    font-size: 20pt;
    padding-top: 1rem;
    margin: 40px;
}
main {
        display: flex;
        flex-direction: column;
        /* serve para deixar em coluna, um embaixo do outro( no caso o conteudo do container) */
        align-items: center;
        padding-top: 10rem;
        color: black;
}
.products-title-container {
    font-size: 20pt;
    font-weight: lighter;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.products-container {
        background-color: burlywood;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        /* faz o alinhamento na horizontal */
        
}
.product-image {

             
    }
    
.text-container { 

}

.article-title {
    font-size: 100px;

}

.article-subtitle {
    font-size: 50px ;
}
    
   .container-text p {
     font-size: 30px;
   } 

.image-home {
    width: 100%;
    height: 300px;
    object-fit: cover;  /*para oa iamgem nao perder a definição*/

}

.adress-page {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 18rem;
    justify-content: space-between;
}