
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,700;1,900&family=Work+Sans:ital,wght@0,300;0,400;0,600;0,900;1,300&display=swap');


:root {
    --cor-fundo: radial-gradient(#874421, #7c3b1a, #b87733);
}
body {
    color: black;
    /* serve para dar cor no fundo/body */
    background: var(--cor-fundo);
    font-family: Raleway;
    
    
}
.navbar{
    /* display flex serve para deixar flexivel tudo que esta dentro do conteiner */
    display: flex; 
    /* serve para jogar o texto para o final */
     justify-content: flex-end;

     /* serve para mexer no tamanho da fonte das letras */
     font-size: 1.5rem;
      /* serve para colocar espaçamento do conteiner todo(para descolar da borda) */
    padding-right: 3rem;
    /* serve para colocar espaçamento do conteiner todo(para descolar do topo) */
    padding-top: 1.5git add .rem;
   }

.navbar a {
    /* serve para colocar espaçamento entre as palavras das linhas */
    padding-right: 3rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.banner-header {
    width: 100%;  /*largura*/
    height: 300px ; /* altura*/
    object-fit: cover; /* ajustar a imagen para nao estourar*/
    padding-top: 3rem;
}
.page-title {
    font-size: 45pt;
    padding-top: 3rem;
    margin: 40px;
}
.page-subtitle {
    font-size: 20pt;
    padding-top: 1rem;
    margin: 40px;
}
main {
        display: flex;
        flex-direction: column;
        /* serve para deixar em coluna, um embaixo do outro( no caso o conteudo do container) */
        align-items: center;
        padding-top: 1rem;
        color: black;
}
.products-title-container {
    font-size: 35pt;
    font-weight: lighter;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.products-container {
        background-color: burlywood;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        /* faz o alinhamento na horizontal */
        
}
.product-image {

   width: 130px;
   object-fit: contain;
   



    
    /*comando object contain = preenche o container total, cover se a imagem for maior ue o container ele recorta*/
    }
    
.text-container { 

}

.article-title {
    font-size: 100px;

}

.article-subtitle {
    font-size: 50px ;
}
    
   .container-text p {
     font-size: 30px;
   } 

.image-home {
    width: 100%;
    height: 300px;
    object-fit: cover;  /*para oa iamgem nao perder a definição*/

}

.adress-page {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 5rem;
    justify-content: space-between;
}
.container {
    display: flex;
    justify-content: space-between;
}

.container > aside  >img {

width: 800px;
}

.container h3 {
    font-size: 14pt;
    font-weight: 600 ;

}

.social-icons {

    height: 2rem;
    padding-top: 2rem;
    padding-left: 3rem;
}

.contact-form {
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;

}

.contact-form input,
.contact-form textarea,
.contact-form select,
.contact-form buton {
    width: 100%;
}

button {
    cursor: pointer;
}

.product-image-fundo-branco { /* Comando para tirar o fundo branco da imagem*/ 
    mix-blend-mode: multiply;
}
